*.iml
.gradle/
**/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties
.idea/
.kotlin/
.agent/
.DS_Store
*.apk
*.aab
*.ap_
*.dex
*.class
*.jks
*.keystore
!debug.keystore
.navigation/
.DS_Store
